<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--リセットCSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <!-- My CSS -->
    <link rel="stylesheet" href="/myapp/src/main/resources/static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>新規登録ページ</title>
</head>

<body>
    <div class="form-box">
        <h2 class="content-title">新規登録</h2>
        <form class="form" th:action="@{/register}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div>
                <p>ユーザー名：</p>
                <input type="text" id="name" name="name" placeholder="ユーザー名を入力" required>
            </div>
            <div>
                <p>メールアドレス：</p>
                <input type="text" id="mail" name="mail" placeholder="メールアドレスを入力" required>
            </div>
            <div>
                <p>パスワード：</p>
                <input type="password" id="password" name="password" placeholder="パスワードを入力" required>
            </div>
            <div class="button">
                <button type="submit">登録</button>
            </div>
            <!-- エラーメッセージ -->
            <p th:if="${error}" th:text="${error}"></p>
        </form>
        <div class="page-link">
            <a class="to-register" th:href="@{/login}">ログイン</a>
        </div>
    </div>
</body>

</html>