<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--リセットCSS-->
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
    <!-- My CSS -->
    <link rel="stylesheet" href="/myapp/src/main/resources/static/css/news.css">
    <link rel="stylesheet" th:href="@{/css/news.css}">

    <title>お知らせ詳細</title>
</head>

<body>
    <header class="return-link">
        <div class="return">
            <a th:href="@{/newslist}">戻る</a>
        </div>
        <div class="return-home">
            <a th:href="@{/home}">ホーム</a>
        </div>
    </header>
    <main>
        <h1>お知らせ詳細</h1>
        <div class="news-block" th:object="${news}">
            <p class="title" th:text="'件名：' + *{title}">タイトル</p>
            <p class="description" th:text="'詳細：' + *{description}">内容</p>
        </div>
    </main>
</body>

</html>